@media (max-width: 1000px) {
  .burger__menu{
    display: flex;
    align-items: center;
  }
  .nav__content{
    display: none;
  }
  .header__content{
    height: 130vh;
  }
}
@media (max-width: 634px) {
  .header__content{
    h1{
      padding: 17px 30px;
    }
  }
}
@media (max-width: 570px) {
  .header__content{
    h1{
      font-size: 40px;
      padding: 17px 20px;
    }
  }
}
@media (max-width: 464px) {
  .header__content{
    h1{
      font-size: 27px;
    }
  }
}
